<!doctype html>
<html lang="en" ng-app="trainApp">
<head>
    <title>Train Engineer</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
</head>

<body>
<div class="container" ng-controller="trainController">
  <div class="row">
    <h2>Train Engineer</h2>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9" style="padding: 0px;">
      <div style="width: 100%; position: relative;">
        <img id="picture"
             src="{{ pictureUrl }}"
             style="width: 100%"
             ng-click="pictureClicked($event)"/>
        <div class="overlay"
             ng-class="(gates[$index].up) ? 'up' : 'down'"
             ng-show="gates[$index].show"
             ng-repeat="gate in gates"
             ng-style="{ 'left': gateX($index), 'top': gateY($index) }"
             ng-click="toggleGate($index)">{{ $index + 1 }}</div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <button class="btn btn-primary btn-block"
              ngf-select
              ngf-change="upload($files)">Take Picture</button>
      <button class="btn btn-block"
              ng-class="($index === moveGate) ? 'btn-danger' : 'btn-primary'"
              ng-repeat="gate in gates"
              ng-click="move($index)">Move Gate {{ $index + 1 }}</button>
      <h3>Instructions:</h3>
      <ol>
        <li>Touch <em>Take Picture</em> to take a picture of the train track.</li>
        <li>Touch <em>Move Gate 1</em> and then touch the location of the gate in the picture.  Repeat for the second gate.</li>
        <li>Touch on the red and green gates to raise and lower them.  Red means the gate is down and green means the gate is raised up.</li>
      </ol>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="/static/js/ng-file-upload-shim.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/app.js"></script>
</body>

</html>
